.client-information-required {
    text-align: right;
    margin: 0 0.7em 0 0;
}

.client-information-container {
    margin: 0 0.2em 0 0.2em;
    background-color: white;
}

.client-information-form {
    margin: 0.7em 0.7em 0 0.7em;
    column-count: 2;
    height: 14em;
}

form {
    display: block;
    height: 13em;
    
}

.client-information-input {
    width: 90%;
    height: 1.5em;
    padding: 0.2em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    border: solid rgba(0, 0, 0, 0.4) 1px;
}

.client-information-select {
    width: 92%;
    height: 2.1em;
    margin-bottom: 1.5em;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
